.hero-area {
    min-height: 230px;
}

.hero-area__title {
    font-size: 40px;
}

hr {
    border: 1px solid #7b7b7b;
    opacity: 1;
}

.primary-content {
    background-color: #dfdfdf;
}

.cms-content > *:last-child {
    margin-bottom: 0;
}